<template name="languagesTable">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Votes</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each languages}}
        <tr>
          <td>{{name}}</td>
          <td>{{votes}}</td>
          <td><input type="button" class="upvote btn btn-success" value="Upvote"/></td>
          <td><input type="button" class="downvote btn btn-danger" value="Downvote"/></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
